name: Build & Test Hunter Rumours Plugin

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test --scan --no-daemon

      - name: Run tests and display failures
        run: |
          ./gradlew test --no-daemon || true
          for file in $(find build/test-results/test -name "*.xml"); do
            grep -oP '(?<=<failure message=")[^"]*' "$file" | while read -r line; do
              echo -e "\e[31m$line\e[0m"
            done
          done
        continue-on-error: false